<div class="container">
    <div class="row">
        <div class="display-4">
            Secured Page
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="display-6">
                {{message}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary" (click)="refresh()">Refresh</button>
        </div>

        <div class="col">
            <button class="btn btn-danger" (click)="refreshAdmin()">Get Admin Data</button>
        </div>
    </div>